# User-specific files
*.user

# Build results
bin/
build/
build/
test/hhgttg.txt
test/kjv-bible.txt
test/lao-tzu.txt
test/the-analects-of-confucius.txt

# Visual Studio 2015/2017 cache/options directory
.vs/
